@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #bb28e7;
    --branco: #ffffff;
    --laranja: #f1a0fc;
    --azul-degrade: linear-gradient(97.54deg, #a949f8 35.49%, #ee98e7 165.37%);
    --fonte-principal: "Poppins";
    --azul: #b808fd;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}